*{
  box-sizing: border-box;
}
/* Background */
body{
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-image: url("../images/unsplashcolo11.jpg");
  background-position: center;
  background-size: cover;
}

h2{
  padding: 16px;
  text-align: center;
  margin: 0;
  color: #ffffff;
}
.quiz-box{
  background-color: rgb(43, 33, 33);  opacity: 0.8;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
  width: 600px;
  overflow: hidden;
}
.quiz-header{
  padding: 10px;
}
/* Questions */

ul{
  list-style: none;
  padding: 0;
}
ul li{
  font-size: 20px;
  color: #ffffff;
  margin: 15px 0;
}
ul li label{
  cursor: pointer;
}
/* Button-style */

button{
  background-color: #753f3f;
  border: none;
  display: block;
  width: 100%;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  padding: 15px;
}
#submit{
  transition: all 0.5s ease;
}
button:hover{
  background-color: #302424;
}
button:focus{
  outline: none;
  background-color: #753f3f;
}

footer{
  position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
  height: 40px;
  color: #ffffff;
  text-align: center;
}

.show {
  display: block;
}

.hide {
  display: none;
}
/* Player-form table */

table {
  padding: 16px;
  text-align: center;
  width: 86vh;
  color: #ffffff;
}

.highscore {
  text-align: center;
}

header {
  text-align: center;
  position: fixed;
  top: 0;
}

label.input-element {
  color: #ffffff;
}

/* Media Queries */

/* Small mobile screens */
@media screen and (min-width: 320px) and (max-width: 480px) {
table {
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
  border-color: grey;
  width: 100%;
}
button{
  background-color: #753f3f;
  border: none;
  display: block;
  width: 100%;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  padding: 15px;
}
.quiz-header{
  padding: 7px;
  font-size: 10px;
}
h2{
  padding: 16px;
  text-align: center;
  margin: 0;
  color: #ffffff;
  font-size: 149%;
}
.quiz-box{
  background-color: rgb(43, 33, 33);  opacity: 0.8;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
  width: 600px;
  overflow: hidden;
}
#stats {
  font-size: 13px;
}
ul li{
  font-size: 12px;
  color: #ffffff;
  margin: 10px 0;
}
}